body {
    background-color: #EEE;
}

#main {
    padding-top: 71px;
}

.container .jumbotron {
	border-radius: 25px;
}

.jumbotron {
    background-color: #FFF;
}

.jumbotron  p {
	font-size: 18px;
}

.jumbotron h2 {
	font-size: 25px;
	line-height: 1.2;
}

.section {
    font-weight: bold;

    
}

.firstp {
    margin-top: 20px;
}

.source {
    margin-left: 2em;
}

.navbar-text {
	padding-right: 15px; 
}

.foot {
	text-align: center;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.foot a {
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}

.foot hr {
	border-width: 3px;
	border-color: #FFF;
}

.toplink {
    color: black;
}

@media (max-width: 767px) {
    .jumbotron  p {
	    font-size: 14px;
    }

    .jumbotron h2 {
	    font-size: 20px;
	    line-height: 1.2;
    }
}
